<section id="navbar">
    <div class="sidebar">

        <div id="logo">
            <img src="/img/logo.png" alt="logo">
        </div>

        <div class="menu-points">
            <a href="/mainpage"><img src="/img/icons/software.png" alt="Alle Lizenzen">Software</a>
        </div>

        <div class="menu-points">
            <a href="/mainpage/favourits"><img src="/img/icons/hardware.png" alt="Favoriten">Hardeware</a>
        </div>

        <div class="menu-points ">
            <a href="/mainpage/settings"><img src="/img/icons/settings.png" alt="settings">Settings</a>
        </div>

        <div class="menu-points" id="logout">
            <a href="loginpage.html"><img src="/img/icons/sign-out.png" alt="logout">Abmelden</a>
        </div>

    </div>
</section>