<section id="navbar">
    <div class="sidebar">

        <div id="logo">
            <img src="/img/logo.png" alt="logo">
        </div>

        <div class="menu-points">
            <a href="/mainpage"><img src="/img/icons/align-justify.png" alt="Alle Lizenzen">Lizenzen</a>
        </div>

        <div class="menu-points">
            <a href="/mainpage/favourits"><img src="/img/icons/bookmark.png" alt="Favoriten">Favoriten</a>
        </div>

        <div class="menu-points ">
            <a href="/mainpage/settings"><img src="/img/icons/settings-sliders.png" alt="settings">Bearbeiten</a>
        </div>

        <div class="menu-points" id="logout">
            <a href="loginpage.html"><img src="/img/icons/sign-out.png" alt="logout">Abmelden</a>
        </div>

    </div>
</section>