<section id="navbar">
    <div class="sidebar">

        <div id="logo">
            <img src="/img/logo.png" alt="logo">
        </div>

        <div class="menu-points">
            <a href="/software"><img src="/img/icons/software.png" alt="Alle Lizenzen">Software</a>
        </div>

        <div class="menu-points">
            <a href="/hardware"><img src="/img/icons/hardware.png" alt="Favoriten">Hardeware</a>
        </div>

        <div class="menu-points ">
            <a href="/users"><img src="/img/icons/users.png" alt="users">Users</a>
        </div>

        <form id="logoutForm" action="/api/auth/logout" method="post">
            <button id="logout" type="submit">Ausloggen</button>
        </form>

    </div>
</section>