<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create </title>

</head>
<body>

    <form class="formElement" action="/software" method="POST">

        <input placeholder="Kategorie: " type="text" id="category" name="category" required>
        <input placeholder="Name: " type="text" id="name" name="name" required>
        <input placeholder="Startpunkt: " type="date" id="start" name="start" requierd>
        <input placeholder="Ablaufsdatum: " type="date" id="end" name="end" requierd>
        <input placeholder="Information: " type="text" id="info" name="info">
        <button class="btnEdit">Eintrag erstellen</button>
    </form>
    
    
</body>
</html>