<html lang="de">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/sidebar.ejs") %>


    <section class="main-content">

        <div class="headline">
            <h1 id="title">Hardware</h1>
        </div>
      
    </section>
</body>
</html>