<html lang="de">
<%- include("./partials/head.ejs") %>

    <body>
        <form action="/api/auth/signin" method="post">

            <div class="container">
                <input type="text" placeholder="Enter Username" name="username" required>

                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>

            </div>

        </form>

        <a href="/register">Noch keinen Account, jetzt registrieren</a>
    </body>

</html>