<!DOCTYPE html>
<html lang="de">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>

    <%- include("./partials/sidebar.ejs") %>

    <section class="main-content">
        <h1><%= message %></h1>
    </section>

   

</body>
</html>