@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Dongle:wght@300&family=Inter&family=Lato&family=Nunito:wght@300&family=Outfit:wght@300&display=swap');
/*font-family: 'Baloo Bhaijaan 2', cursive;*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;    
}

body{
    background-color: #eceff1;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

/*section*/

#log-page{
    margin-top: 100px;
}
.input_group{
    position: relative;
    margin-left: 42%;
}

#p-logo{
    max-width: 200px;
    max-width: 200px;
    margin-left: 45%;
}

.input_group input::placeholder {
	color: black;
	transition: color 0.5s;
}

.input_group input:focus::placeholder {
	color: white;
}

#name{
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    font-size: 26px;
}

#password{
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    font-size: 26px;
}

#submit{
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    font: inherit;
    font-size: 26px;
    margin-left: 8%;
}

#submit:hover{
    background-color: rgb(177, 177, 177);
    transition: 0.2s;
}

#fail{
    background-color: #eceff1;
    color: red;
    border: none;
}