@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Dongle:wght@300&family=Inter&family=Lato&family=Nunito:wght@300&family=Outfit:wght@300&display=swap');
/*font-family: 'Baloo Bhaijaan 2', cursive;*/

/*----------------- Favourits ---------------------*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #eceff1;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

/*sidebar*/

#navbar {
    position: absolute;
    min-height: 94.7%;
}

.sidebar {
    width: 210px;
    background-color: rgb(255, 255, 255);
    min-height: 100%;
    position: fixed;
    float: left;

    border-right-color: rgb(6, 173, 196);
    border-right-width: 2px;
    border-right-style: solid;
}

.menu-points {
    padding-left: 20px;
    display: block;
    margin-top: 25px;
}

.sidebar .menu-points img {
    height: 32px;
    margin-right: 25px;
    float: left;
}

.menu-points a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 26px;
}

#logout {
    position: absolute;
    width: 80%;
    bottom: 0;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    font-size: 15px;
    height: 30px;
    background-color: white;
}

#logoutForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    max-width: 165px;
    padding-left: 20px;
}

/*main-content*/

.main-content {
    margin-left: 250px;
    display: flex;
    padding-top: 0%;
    min-height: 100%;
    min-width: 1000px;
}

.main-content #title {
    position: absolute;
    border-bottom-style: solid;
    font-size: 30px;
    border-bottom-color: rgb(6, 173, 196);
}

.main-content #title:hover {
    opacity: 0.7;
    transition: 0.2s;
}

/*-------------------- Mainpage ---------------------------*/

/*main-content*/

.main-content {
    margin-left: 250px;
    display: flex;
    padding-top: 0%;
    min-height: 100%;
    min-width: 1000px;
}

.create_logo{
    height: 50px;
    width: 50px;
}
.main-content #title {
    position: absolute;
    border-bottom-style: solid;
    border-bottom-color: rgb(6, 173, 196);
}

.main-content #title:hover {
    opacity: 0.7;
    transition: 0.2s;
}

#category_head{
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 90px;
    width: 1600px;
    max-height: 80px;
    display: flex;
    padding: 10px;
    
    -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
    justify-content: space-between;
}

#category_head a{
    text-decoration: none;
    font-size: 26px;
    margin-left: 10px;
    font-style: bold;
    color: rgb(39, 39, 39);
}

#category_head img{
    height: 65px;
    width: auto;
}

#category_head a:hover{
    text-decoration: underline;
}

.search {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    max-height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

#searchInput {
    width: 100%;
    padding: 20px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

.table {
    width: 1620px;
    margin-top: 200px;
    margin-bottom: 50px;
    background-color: white;

    -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}

#upper_table {
    display: table;
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 60px;
}

#head_line {
    font-size: 24px;
    text-decoration: none;
}

#head_line a{
    text-decoration: none;
    color: black;
}

#head_line a:focus{
    color: blue;
}

.row_1_head {
    width: 250px;
}

.row_2_head {
    width: 300px;
}

.row_3_head {
    width: 200px;
}

.row_4_head {
    width: 150px;
}

.row_5_head {
    width: 150px;
}

.row_4_head_users {
    width: 550px;
}

.row_6_head {
    width: 250px;
}

.row_7_head {
    width: 250px;
}

.row_8_head {
    width: 300px;
}

.row_7_head_hardware {
    width: 500px;
}

.row_9_head {
    width: 50px;
}

.row_8_head_hardware {
    width: 200px;
}

#body_table {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
}

.row_1_body {
    width: 250px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
    text-align: center;
}

.row_2_body {
    width: 300px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
    text-align: center;
}

.row_3_body {
    width: 200px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
    text-align: center;
}

.row_4_body {
    width: 150px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
    text-align: center;
}

.row_5_body {
    width: 150px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
    text-align: center;
}

.row_4_body_users {
    width: 550px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
    text-align: center;
}

.row_6_body {
    width: 250px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
    text-align: center;
}

.row_7_body {
    width: 250px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
    text-align: center;
}

.row_8_body {
    width: 300px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
    text-align: center;
}

.row_8_body:hover {
    cursor: pointer;
}

.row_6_body_hardware {
    width: 500px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
    text-align: center;
}

.row_6_body_hardware:hover {
    cursor: pointer;
}

#row_9_body {
    padding: 5px;
    width: 50px;
    text-align: center;
    display: table-cell;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
}

#row_9_body img {
    height: 50px;
    width: auto;
}

#row_9_body img:hover {
    position: relative;
    background-color: rgb(221, 221, 221);
    width: auto;
}


/*popup*/

.hover_bkgr_fricc {
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.hover_bkgr_fricc .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover_bkgr_fricc>div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: 800px;
    width: 1000px;
    vertical-align: middle;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #ccc;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}



/*----------------------------- Settings ---------------------------------*/

/*main-content*/

.main-content {
    margin-left: 250px;
    display: flex;
    padding-top: 0%;
    min-height: 100%;
    min-width: 1000px;
}

.main-content #title {
    position: absolute;
    border-bottom-style: solid;
    border-bottom-color: rgb(6, 173, 196);
}

.main-content #title:hover {
    opacity: 0.7;
    transition: 0.2s;
}

ul li {
    list-style: none;
}

.lower_main_content {
    margin-top: 125px;
    position: absolute;

}

.add_input_fields {
    margin-top: 10px;
    position: relative;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    font-size: 22px;
}

#delete {
    justify-content: center;
}

/*---------------------------create-PopUp------------------*/

.formElement input{
    min-height: 35px;
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    border: solid 1px black;
    transition: 0.5s;
}

.formElement li input:hover{  
    border: solid 1px #555;
    background-color: #ccc;  
}

.btnCreate{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: auto;
}

.btnCreate img {
    height: 40px;
    width: auto;
    padding: 5px;
    margin-bottom: 5px;
}

.btnCreate:hover{
    border-color: #555;
    background-color: #ccc;  
}


/*---------------------------edit-PopUp------------------*/

.formElement ul {
    padding: 0;
}

.formElement ul li {
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formElement input{
    width: 300px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left;
}

.formElement input:hover{  
    border-color: #555;
    background-color: #ccc;  
}

.delete img{
    height: 50px;
    width: auto;
    padding: 0%;
    margin-top: 10px;
}

.btnEdit {
    max-width: max-content;
}

.btnEdit img{
    height: 40px;
}

.optionFields{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0%;
    margin-top: 15px
}


/*---------------------------login------------------*/
.window {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.field {
    height: 500px;
    width: 500px;
    background-color: #dbdddf;
    border-radius: 5px;
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
}

#field_reg {
    height: 700px;
}

.field h1{
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 2%;
    color: grey;
    font-size: 30px;
    font-family: Helvetica;
    margin: 0;
}

.field hr{
    width: 100px;
    height: 0px;
    color: grey;
    border: solid 0.5px
}

.container input{
    width: 80%;
    padding: 18px 20px;
    margin: 12px 10%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

.container button{
    width: 80%;
    background-color: #3f7cb6;
    color: white;
    padding: 16px 20px;
    margin: 14px 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.field #link{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.field #link:hover{
    text-decoration: underline;
}

.message {
    color: red;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 15px;
}


/*---------------------------Tooltip------------------*/
[data-tooltip] {
    --arrow-size: 5px;
    position: relative;
    z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + var(--arrow-size));
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 50px;
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 14px;
    background-color: rgba(59, 72, 80, 0.9);
    background-image: linear-gradient(30deg,
            rgba(59, 72, 80, 0.44),
            rgba(59, 68, 75, 0.44),
            rgba(60, 82, 88, 0.44));
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, calc(0px - var(--arrow-size))) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size);
    /* CSS triangle */
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s;
    /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" */
    transform-origin: top;
    /* Orientation setting for the
                              slide-down effect */
    transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}

/* 
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip]:hover:after {
    transition-delay: 0.5s;
    /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}

/*
  That's it for the basic tooltip.

  If you want some adjustability
  here are some orientation settings you can use:
*/

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
    left: auto;
    right: calc(100% + var(--arrow-size));
    bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
    transform: translate(calc(0px - var(--arrow-size)), 50%) scale(0.5);
}

[data-tooltip-location="left"]:hover:before {
    transform: translate(calc(0px - var(--arrow-size)), 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
    border-width: var(--arrow-size) 0px var(--arrow-size) var(--arrow-size);
    border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
    transform-origin: left;
    transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="left"]:hover:after {
    transform: translateY(50%) scaleX(1);
}



/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
    left: calc(100% + var(--arrow-size));
    bottom: 50%;
}

[data-tooltip-location="right"]:before {
    transform: translate(var(--arrow-size), 50%) scale(0.5);
}

[data-tooltip-location="right"]:hover:before {
    transform: translate(var(--arrow-size), 50%) scale(1);
}

[data-tooltip-location="right"]:after {
    border-width: var(--arrow-size) var(--arrow-size) var(--arrow-size) 0px;
    border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
    transform-origin: right;
    transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="right"]:hover:after {
    transform: translateY(50%) scaleX(1);
}



/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
    top: calc(100% + var(--arrow-size));
    bottom: auto;
}

[data-tooltip-location="bottom"]:before {
    transform: translate(-50%, var(--arrow-size)) scale(0.5);
}

[data-tooltip-location="bottom"]:hover:before {
    transform: translate(-50%, var(--arrow-size)) scale(1);
}

[data-tooltip-location="bottom"]:after {
    border-width: 0px var(--arrow-size) var(--arrow-size) var(--arrow-size);
    border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
    transform-origin: bottom;
}


/*---------------------------dropdown------------------*/
span.msg,
span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
}

.container {
    width: 500px;
    text-align: center
}

/*Styling Selectbox*/
.dropdown {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.dropdown .select>i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
    background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}

.dropdown.active .select>i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}