@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Dongle:wght@300&family=Inter&family=Lato&family=Nunito:wght@300&family=Outfit:wght@300&display=swap');
/*font-family: 'Baloo Bhaijaan 2', cursive;*/

/*----------------- Favourits ---------------------*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #eceff1;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

/*sidebar*/

#navbar {
    position: absolute;
    min-height: 94.7%;
}

.sidebar {
    width: 210px;
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    min-height: 100%;
    position: absolute;
    float: left;

    border-right-color: rgb(6, 173, 196);
    border-right-width: 2px;
    border-right-style: solid;
}

.menu-points {
    padding-left: 20px;
    display: block;
    margin-top: 25px;
}

.sidebar .menu-points img {
    height: 32px;
    margin-right: 25px;
    float: left;
}

.menu-points a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 26px;
}

#logout {
    position: absolute;
    width: 80%;
    bottom: 0;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    font-size: 15px;
    height: 30px;
    background-color: white;
}

#logoutForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    max-width: 165px;
    padding-left: 20px;
}

/*main-content*/

.main-content {
    margin-left: 250px;
    display: flex;
    padding-top: 0%;
    min-height: 100%;
    min-width: 1000px;
}

.main-content #title {
    position: absolute;
    border-bottom-style: solid;
    font-size: 30px;
    border-bottom-color: rgb(6, 173, 196);
}

.main-content #title:hover {
    opacity: 0.7;
    transition: 0.2s;
}

/*-------------------- Mainpage ---------------------------*/

/*main-content*/

.main-content {
    margin-left: 250px;
    display: flex;
    padding-top: 0%;
    min-height: 100%;
    min-width: 1000px;
}

.create_logo{
    height: 50px;
    width: 50px;
}
.main-content #title {
    position: absolute;
    border-bottom-style: solid;
    border-bottom-color: rgb(6, 173, 196);
}

.main-content #title:hover {
    opacity: 0.7;
    transition: 0.2s;
}

#category_head{
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 90px;
    width: 1600px;
    max-height: 80px;
    padding: 10px;
    
    -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}

#category_head a{
    text-decoration: none;
    font-size: 26px;
    margin-left: 10px;
    font-style: bold;
    color: rgb(39, 39, 39);
}

#category_head img{
    height: 65px;
    width: auto;
}

#category_head a:hover{
    text-decoration: underline;
}

.table {
    width: 1620px;
    margin-top: 200px;
    margin-bottom: 50px;
    background-color: white;

    -webkit-box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}

#upper_table {
    display: table;
    background-color: rgb(218, 218, 218);
}

#head_line {
    font-size: 24px;
    text-decoration: none;
}

#head_line a{
    text-decoration: none;
    color: black;
}

#head_line a:focus{
    color: blue;
}

.row_1_head {
    width: 250px;
}

.row_2_head {
    width: 350px;
}

.row_3_head {
    width: 150px;
}

.row_4_head {
    width: 150px;
}

.row_5_head {
    width: 250px;
    float: left;
}

.row_6_head {
    width: 300px;
}

.row_6_head_hardware {
    width: 500px;
}

.row_7_head {
    width: 150px;
}

.row_7_head_hardware {
    width: 200px;
}

#body_table {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.row_1_body {
    width: 250px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
}

.row_2_body {
    width: 350px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
}

.row_3_body {
    width: 150px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
}

.row_4_body {
    width: 150px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
}

.row_5_body {
    width: 250px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
}

.row_6_body {
    width: 300px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
}

.row_6_body_hardware {
    width: 500px;
    border-bottom-style: solid;
    border-bottom-width: 1, 25px;
    border-color: #e4e4e4;
}

#row_7body{
    padding-bottom: 10px;
    width: 100px;
    float: right;
    margin-right: -45px;
    margin-left: 45px
}

#row_7body_hardware {
    padding-bottom: 10px;
    width: 100px;
    float: right;
    margin-right: -70px;
    margin-left: 70px
}

#row_7body img{
    height: 50px;
    width: auto;
}

#row_7body_hardware img {
    height: 50px;
    width: auto;
}

#row_7body img:hover{
    position: relative;
    background-color: rgb(221, 221, 221);
    width: auto;
}

#row_7body_hardware img:hover {
    position: relative;
    background-color: rgb(221, 221, 221);
    width: auto;
}

/*popup*/

.hover_bkgr_fricc {
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.hover_bkgr_fricc .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover_bkgr_fricc>div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #ccc;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}



/*----------------------------- Settings ---------------------------------*/

/*main-content*/

.main-content {
    margin-left: 250px;
    display: flex;
    padding-top: 0%;
    min-height: 100%;
    min-width: 1000px;
}

.main-content #title {
    position: absolute;
    border-bottom-style: solid;
    border-bottom-color: rgb(6, 173, 196);
}

.main-content #title:hover {
    opacity: 0.7;
    transition: 0.2s;
}

ul li {
    list-style: none;
}

.lower_main_content {
    margin-top: 125px;
    position: absolute;

}

.add_input_fields {
    margin-top: 10px;
    position: relative;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    font-size: 22px;
}

/*---------------------------create-PopUp------------------*/

.formElement input{
    min-height: 35px;
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    border-style: solid;
    border-color: rgb(99, 99, 99);
    transition: 0.5s;
}

.formElement li input:hover{  
    border-color: #555;
    background-color: #ccc;  
}

.create_input_information{
    display: inline-block;
    border: solid 1px black;
    min-width: 50px; 
    max-width: 200px;
    min-height: 50px;
}

.btnCreate{
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.btnCreate img {
    height: 40px;
    width: auto;
    padding: 5px;
    margin-bottom: 5px;
}

.btnCreate:hover{
    border-color: #555;
    background-color: #ccc;  
}


/*---------------------------edit-PopUp------------------*/

.formElement ul {
    display: block;
    margin-left: 50px;
}


.formElementedit input{
    min-height: 35px;
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    border-style: solid;
    border-color: rgb(99, 99, 99);
    transition: 0.5s;
}

.formElement input:hover{  
    border-color: #555;
    background-color: #ccc;  
}

.edit_input_information{
    display: inline-block;
    border: solid 1px black;
    min-width: 50px; 
    max-width: 200px;
    min-height: 50px;
}

.delete{
    padding: 0%;
    display: flex;
    align-items: center;

}

.delete img{
    height: 50px;
    width: auto;
    padding: 0%;
    margin-top: 10px;
}

.btnEdit {
    padding: 0;
    display: flex;
    align-items: center;
}

.btnEdit img{
    height: 40px;
    width: auto;
    padding: 5px;
    margin-bottom: 5px;
}

.optionFields{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0%;
    margin-top: 15px
}

.formElement ul li{
    max-height: 500px;
}



/*---------------------------login------------------*/
.window {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.field {
    height: 500px;
    width: 500px;
    background-color: #dbdddf;
    border-radius: 5px;
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
}

.field h1{
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 2%;
    color: grey;
    font-size: 30px;
    font-family: Helvetica;
    margin: 0;
}

.field hr{
    width: 100px;
    height: 0px;
    color: grey;
    border: solid 0.5px
}

.container input{
    width: 80%;
    padding: 18px 20px;
    margin: 12px 10%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

.container button{
    width: 80%;
    background-color: #3f7cb6;
    color: white;
    padding: 16px 20px;
    margin: 14px 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.field #link{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.field #link:hover{
    text-decoration: underline;
}